    <li *ngFor='let appareil of appareils, let i=index'  [ngClass]='{"list-group-item":true,}'>
        <p *ngIf='appareil.appareilStatut=="eteint"' style=" width:20px; height:20px; background-color:red;"></p> 
        <div [ngClass]='{ "list-group-item":true,"list-group-item-danger":appareil.appareilStatut=="eteint","list-group-item-success":appareil.appareilStatut=="allume"}'>
        <p [ngStyle]='{color:getCouleurText(appareil.appareilStatut)}'>appareil:{{appareil.appareilName}} 
            --- statut: {{appareil.appareilStatut}}</p> 
            <button class= 'btn btn-success' [disabled]='appareil.appareilStatut=="allume"' (click)='a(i)'> allumer</button>
            <button  id='po' class= 'btn btn-danger' [disabled]='appareil.appareilStatut=="eteint"' (click)='e(i)'>eteindre</button>

        </div>
        
    </li>
