<div class='container'>
    <table>
        <thead>
            <tr>
                <th *ngFor='let column of Columns' >
                     <h2 class='ms-5 p-3'>{{column}}</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let val of products'>
                <td >
                    <h3 class='ms-5 p-3'>{{val.name}}</h3>
                </td>
                <td >
                    <h3 class='ms-5 p-3'>{{val.price}}</h3>
                </td>
                <td >
                    <h3 class='ms-5 p-3'><button class='btn btn-success' (click)='change(val)'><i class='{{statut(val.checked)}}'></i></button> {{val.checked}}</h3>
                </td>
            </tr>
        </tbody>
    </table>
</div>
