<div class='container'>
    <ul class='list-group' *ngFor='let appareil of appareils; let i=index'>
      <li class='list-group-item' >
        <p [ngStyle]='{color:getColorService(appareil.appareilStatut)}'*ngIf='appareil.appareilStatut=="allume"'>
        {{appareil.appareilName}} --{{appareil.appareilStatut}}
        </p>
        <p [ngStyle]='{color:getColorService(appareil.appareilStatut)}'*ngIf='appareil.appareilStatut=="eteint"'>
        {{appareil.appareilName}} --{{appareil.appareilStatut}}
        </p>
        <button class='btn btn-success' (click)='allumeAppareilseul(i)'>allumer</button>
        <button class='btn btn-danger' (click)='eteindreAppareilseul(i)'>eteindre</button>
      </li> 
    </ul>
    <ul class='list-group' *ngFor='let ap of app'>
      <li class='list-group-item' >
        {{ap.app}} 
      </li>
    </ul>


    <form [formGroup]="myF" (submit)='onsubmit()'>
      <div class='FormGroup'>
       <label for='newAppareil'>ajouter un nouveau appareil</label>
       <input type='text' formControlName='newAppareil' id='newAppareil' >
      </div>
      <button class='btn btn-primary' (click)='onsubmit()'> envoie</button>
   </form>

    <button class="btn btn-success" (click)='onToutAllumer()'>tout allumer</button>
    <button class="btn btn-danger" (click)='ontToutEteindre()'>tout eteindre</button>
</div>
