<div class='container'>
    <form [formGroup]="myF" (ngSubmit)="saveProduct()">
    <div class="mb-3">
        <label for="1" class="form-label">product name</label>
        <input type="email" class="form-control" id="1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="1" class="form-label">price</label>
        <input class="form-control" id="1" placeholder="0">
    </div>
    <div class="mb-3">
        <a class='btn btn-outline-success' (click)='checked()'><i class='{{icon()}}'></i></a>
        <label>checked{{checked()}}</label>
    </div>
</form>
    </div>
    
    
    
    
    
    
    