<div class='container' >
    <ul class=list-group >
        <li class='list-group-item'>
            <form [formGroup]='myF' (ngSubmit)='onSubmit()' >
                <div class='FormGroup'>
                    <select type='text' class='form-control' formControlName='ch1'>
                      <option value='Napon'>Napon</option>
                      <option value='Nacro'>Nacro</option>
                      <option value='Kabore'>Kabore</option>
                      <option value='Some'>Some</option>
                    </select>
                </div>
                <div class='FormGroup'>
                    <input type='text' class='form-control' formControlName='contenu' placeholder='message'>
                </div>
                <div class='FormGroup'>
                    <select type='text' class='form-control' formControlName='ch2'>
                      <option value='Napon'>Napon</option>
                      <option value='Nacro'>Nacro</option>
                      <option value='Kabore'>Kabore</option>
                      <option value='Some'>Some</option>
                    </select>
                </div>
                <button class='btn btn-success' type='submit' >Envoie</button>
            </form>
        </li>
    </ul>
</div>