<div class="container">
    <div class="list-group">
<span><a routerLink='/appareil'> appareil</a><a  id='po' routerLink='/contact'>Contact</a><a  id='po' routerLink='/fo'>Contact</a></span>
        <br/><br/>
    </div>
    <div > 
       <button class= 'btn btn-primary' [disabled]='!isAuth' (click)='ngToutAllumer()'>tout allumer</button>
       <button  class= 'btn btn-danger' [disabled]='!isAuth' (click)='ngToutEteindre()'>tout eteindre</button>
    </div>
<router-outlet></router-outlet>
</div>
    

